{% include 'shared/component/card/form.html.twig' with {
    'title' : 'bike_session.add',
    'description' : 'bike_session.description',
    'form' : form,
    'color' : 'success',
    'can_collapse' : true
} %}
