{% extends 'shared/layout/layout.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block content %}
    <div class="m-3">
        <table class="table table-striped table-dark rounded">
            <thead>
            <tr>
                <th scope="col">{{ 'Distance Parcourue' }}</th>
                <th scope="col">{{ 'Temps mis' }}</th>
                <th scope="col">{{ 'Energie dépensée' }}</th>
                <th scope="col" class="d-none-xs">{{ 'Constantes Vitales' }}</th>
                <th scope="col">{{ 'Date' }}</th>
            </tr>
            </thead>
            <tbody>
            {% for bike_session in bike_sessions %}
                <tr>
                    <td>{{ bike_session.distance }} km</td>
                    <td>{{ render_time(bike_session.duration) }}</td>
                    <td>{{ bike_session.energy }} kj</td>
                    <td class="d-none-xs">
                            {% for vital in bike_session.vitals %}
                                    <span class="constant {{ vital.type.value }}">{{ vital.type|trans }}</span>
                                    <span>{{ vital.value }}kg</span>
                            {% endfor %}
                    </td>
                    <td>{{ render_date_and_time(bike_session.createdAt) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
