{% include 'shared/component/card/form.html.twig' with {
    'title' : 'constant.add',
    'description' : 'constant.description',
    'form' : constant_form,
    'color' : 'info',
    'can_collapse' : true
} %}