{% extends 'shared/layout/layout.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block content %}
    <div class="col-12 row p-3 m-0 form-img">
        <div class="col-6 m-0 p-0 img-container">

        </div>
        <div class="col-6 m-0 p-0">
            <form method="post" class="">
                <!-- form card login -->
                <div class="card shadow shadow-sm">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    {% if app.user %}
                        <div class="card-header">
                            You are logged in as {{ app.user.athletic.pseudo }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% else %}
                        <div class="card-header">
                            <h3 class="mb-0">Login</h3>
                        </div>
                    {% endif %}


                    <div class="card-body">
                        <form class="form" role="form" autocomplete="off" id="formLogin" novalidate="" method="POST">
                            <div class="form-group">
                                <label for="inputEmail">Email</label>
                                <input type="text" value="{{ last_username }}" class="form-control form-control-lg rounded-0" name="email" id="inputEmail" required="">
                                <div class="invalid-feedback">Oops, you missed this one.</div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword">Password</label>
                                <input type="password" class="form-control form-control-lg rounded-0" id="inputPassword" required="true" autocomplete="new-password" name="password">
                                <div class="invalid-feedback">Enter your password too!</div>
                            </div>
                            <div>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description small text-dark">Remember me on this computer</span>
                                </label>
                            </div>
                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >
                            <button id="btnLogin" class="btn btn-success btn-lg float-right" type="submit" href="{{ path('app_login') }}">
                                Sign in
                            </button>
                            <a class="btn btn-lg btn-primary" href="{{ path('athletic_new') }}">{{ 'user.new' }}</a>
                        </form>
                    </div>
                    <!--/card-block-->
                </div>
                <!-- /form card login -->


                {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
                #}

            </form>
        </div>
    </div>

{% endblock %}