@import "../../common/tools/vars-common";

/***********************/
/**** MAIN COLORS ****/
/***********************/

$title-color: $grey-dark;

/***********************/
/**** MAIN MEASURES ****/
/***********************/

$outer-padding: 20px;

$header-icon-height: 16px;
$header-height: calc(#{$header-icon-height} + 2 * #{$outer-padding});

/**** DESKTOP MEASURES ****/

$outer-padding--desktop: $outer-padding;

$header-icon-height--desktop: $header-icon-height;
$header-height--desktop: $header-height;