$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
$folder: images;

/*** Bootstrap ***/
@import "~bootstrap/scss/bootstrap";

/*** BootsWatch ***/
@import "bootswatch/cyborg/variables";
@import "bootswatch/cyborg/bootswatch";

/*** Front and Back ***/
@import "common/tools/reset";
@import "common/tools/helpers";
@import "common/tools/mixins";
@import "common/tools/vars-common";

/*** Components ***/
@import "front/components/style";
@import "component/navbar";
@import "component/enum/constants";
@import "component/limitator";
@import "front/components/select2";
@import "front/components/footer";
@import "front/components/display-none";



