{% extends 'shared/layout/layout.html.twig' %}

{% block title %}{{ 'stats.title'|trans }}{% endblock %}

{% block content %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <div class="p-3 rounded">
        <div class="rounded" id="chart_div">

        </div>
    </div>
    <script>
        let km = toObject({{ km }})
        google.charts.load('current', {packages: ['corechart', 'line']});
        google.charts.setOnLoadCallback(drawBasic);

        window.addEventListener('resize', function(){
            document.getElementById('chart_div').innerHTML = "";
            google.charts.setOnLoadCallback(drawBasic);
        }, false)

        function drawBasic() {

            var data = new google.visualization.DataTable();
            data.addColumn('number', 'days');
            data.addColumn('number', 'Kilometers');
            data.addRows(Array.from(km)) ;
            var options = {
                title: 'Km parcourus',
                curveType: 'function',
                width: document.getElementById("chart_div").offsetWidth,
                height:document.getElementById("chart_div").offsetHeight,
                vAxis: {title: 'km'},
                hAxis: {title: 'Session n°'},
                legend: { position: 'bottom' }
            };

            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

            chart.draw(data, google.charts.Line.convertOptions(options));
        }

        function toObject(arr) {
            var rv = [];
            for (var i = 0; i < arr.length; ++i) {
                rv[i] = [i,arr[i]];
            }
            return rv;
        }
    </script>
    <div class="container">
        <div class="row">
            <div class="col-12 p-3">
                <table class="table table-striped table-dark rounded">
                    <thead>
                    <tr>
                        <th scope="col">{{ 'kilometers'|trans }}</th>
                        <th scope="col">{{ 'energy'|trans }}</th>
                        <th scope="col">{{ 'duration'|trans }}</th>
                        <th scope="col">{{ 'moyenne'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>{{ stats.kms }}</th>
                        <td>{{ stats.kjs }}</td>
                        <td>{{ stats.time / 60 }}</td>
                        <td>{{ stats.kms / (stats.time / 60) }} km/h</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascript %}

{% endblock %}
