{% extends "shared/layout/layout--main__strcture.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ (app_version is defined) ? "?version=" ~ app_version : "" }}">
{% endblock %}

{% block component_twig %}
    {{ parent() }}
{% endblock %}

{% block footerContent %}
    {% if display_front_app_version() %}
        <div class="footer__app-version">{{ app_version }}</div>
    {% endif %}
{% endblock %}