{% extends "shared/layout/layout--backoffice.html.twig" %}

{% block title %}
    Train Bike
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('build/app.css') }}{{ (app_version is defined) ? "?version=" ~ app_version : "" }}">
{% endblock %}

{% block header %}
    {% include "shared/layout/_header.html.twig" %}
{% endblock %}

{% block footerContent %}
    <div class="container text-center">
        <div class="text-white">TrainBike Version 0.1</div>
    </div>
{% endblock %}



