{% extends 'shared/layout/layout.html.twig' %}

{% block title %}{{ 'home'|trans }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row p-3">
            {% if app.user is null %}
                <div class="card text-white bg-primary col-12 col-lg-6 p-0">
                    <div class="card-header d-flex justify-content-between text-center" role="button" href="#collapseExample" data-toggle="collapse" aria-controls="collapseExample">
                        <div>{{ 'user.create'|trans }}</div><i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </div>
                    <div class="collapse" id="collapseExample">
                        <div class="card-body">
                            <h5 class="card-title">{{ 'user.create.title'|trans }}</h5>
                            <p class="card-text">{{ 'user.create.text'|trans }}</p>
                        </div>
                        <div class="m-3 d-flex justify-content-end">
                            <a class="btn btn-secondary m-3" href="{{ path('app_login') }}">{{ 'login'|trans }}</a>
                            <a class="btn btn-secondary m-3" href="{{ path('athletic_new') }}">{{ 'register'|trans }}</a>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if app.user is not null %}
                    {{ render(controller(
                        'App\\Controller\\Athletic\\BikeSessionController::addAction'
                    )) }}

                    {{ render(controller(
                        'App\\Controller\\Athletic\\ConstantController::addAction'
                    )) }}
            {% endif %}
        </div>
    </div>
{% endblock %}
