{%- block rich_text_widget -%}
    {{- block('textarea_widget') -}}
    <script type="text/javascript">
        $(function () {
            $('#{{ id }}').trumbowyg({
                lang: "{{ app.request.locale }}",
                btns: [
                    ['viewHTML'],
                    ['undo', 'redo'],
                    ['formatting'],
                    ['strong', 'em', 'del'],
                    ['link'],
                    ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
                    ['unorderedList', 'orderedList'],
                    ['horizontalRule'],
                    ['fullscreen']
                ]
            });
        });
        // Script permettant de fermer les modals (ex : modal pour ajouter un lien) du richText trumowyg lorsque l'on quite le modal.
        $('.modal.show').on('hide.bs.modal', function () {
            $('#{{ id }}').trumbowyg('closeModal');
        });

        // Script permettant d'éviter la fermeture du modal lorsque l'on quite le mode plein écran du richText trumbowyg.
        $(document).ready(function () {
            let closeFullScreenClass = 'tbw-close';
            $('#{{ id }}').on('tbwclosefullscreen', function (a) {
                $('.modal').addClass(closeFullScreenClass);
            });
            $('.modal').on('hide.bs.modal', function(e) {
                if($('.modal').hasClass(closeFullScreenClass)) {
                    e.preventDefault();
                    e.stopImmediatePropagation();
                    $('.modal').removeClass(closeFullScreenClass)
                }
            })
        })

    </script>
{%- endblock rich_text_widget -%}
