{% block select2_entity_widget %}
    {% if attr.class is defined %}
        {% set class = 'select2 ' ~ attr.class %}
    {% else %}
        {% set class = 'select2 ' %}
    {% endif %}
    {% set attr = attr|merge({'class': class}) %}
    {{- block('choice_widget') -}}

    <script type="text/javascript">
        $(document).ready(function () {
            let m = {allowClear: {{ form.vars['multiple'] == true or form.vars['attr']['allow_clear'] == false ? 'false' : 'true' }} };

            {% if form.vars['tags'] is defined and form.vars['tags'] == true  %}
            m.tags=true;
            m.createTag = function (params) {
                let term = $.trim(params.term);
                if (term === '') {
                    return null;
                }
                return {
                    id: '{{ form.vars['new_tag_prefix'] }} ' + term,
                    text: '({{ form.vars['new_tag_text']|trans }}) ' + term,
                    newTag: true
                }
            };
            {% endif %}
            $('#{{ id }}').select2(m);
        });
    </script>
{% endblock select2_entity_widget %}

{% block select2_widget %}
    {% if attr.class is defined %}
        {% set class = 'select2 ' ~ attr.class %}
    {% else %}
        {% set class = 'select2 ' %}
    {% endif %}
    {% set attr = attr|merge({'class': class}) %}
    {{- block('choice_widget') -}}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#{{ id }}').select2({
                allowClear: {{ form.vars['multiple'] == true or form.vars['attr']['allow_clear'] == false ? 'false' : 'true' }},
                tags: {{ form.vars['tags'] is defined and form.vars['tags'] == true ? 'true' : 'false' }}
            });
        });
    </script>
{% endblock select2_widget %}

{%- block select2_entity_ajax_widget -%}
    {% set language = app.request.locale %}
    {{- block('tetranz_select2entity_widget') }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#{{ id }}').select2entity({
                allowClear: {{ form.vars['multiple'] == true or form.vars['allow_clear'] == false ? 'false' : 'true' }}
            });
        });
    </script>
{%- endblock -%}
