$direction: (
  "-": "",
  -t-: "-top",
  -b-: "-bottom",
  -l-: "-left",
  -r-: "-right"
);

/** MARGIN **/
@each $key_d, $value_d in $direction {
  @for $size from 1 through 5 {
    .m#{$key_d}#{$size * 4} {
      margin#{$value_d}: #{$size * 4}px !important;
    }
  }
}

/** padding **/
@each $key_d, $value_d in $direction {
  @for $size from 1 through 5 {
    .p#{$key_d}#{$size * 4} {
      padding#{$value_d}: #{$size * 4}px !important;
    }
  }
}