{#
    {
        'faIcon': "fa-user",
        'path': "#"
    }
#}
{% set links = [
        {
            'faIcon': "fa-power-off",
            'path': '#'
        }
    ]
%}

{% include '@LbddCommon/shared/component/icon-menu/_icon-menu.html.twig' with {'links': links} %}