{#
    Params:
    {
        links: [
            {
                'text': string,
                'icon': ?string,
                'strongText': ?string,
                'path': string,
                'isActive': ?bool,
                'subMenu': ?[
                    {
                        'text': string,
                        'path': string
                    }
                ]
            }
        ]
    }
#}
{% set current_url = app.request.requestUri %}
{% set links = [
    {
        'text': 'bikesession.label_plurialized'|trans,
        'icon' : 'fa fa-bicycle',
        'path': path('bike_session_index'),
        'isActive': app.request.get('_route') starts with 'bike_session_index'
    },
    {
        'text': 'statistics'|trans,
        'icon' : 'fa fa-line-chart',
        'path': path('athletic_statistics'),
        'isActive': app.request.get('_route') starts with 'athletic_statistics'
    }
] %}
<nav class="trainbike__navbar">
    <div class="navbar__content">
        <div>
            <a class="navbar__logo" href="#">
                <img src="{{ asset('images/bike.svg') }}" alt="">
            </a>
        </div>

            {% if app.user is not null  %}
                <div class="{{ app.request.get('_route') starts with 'athletic_index' ? 'active' : '' }}">
                    <a class="text-light" href="{{ path('athletic_index') }}">
                        <i class="fa fa-home"></i>
                        {{ 'home'|trans }}
                    </a>
                </div>
                {% for link in links %}
                    {% set icon = link.icon|default(false) %}
                    {% set strongText = link.strongText|default(false) %}
                    {% set isActive = link.isActive|default(false) %}
                    {% set subMenu = link.subMenu|default(false) %}
                    <div class="{{ isActive ? 'active' }}">
                        <a class="text-light" href="{{ link.path }}">
                            {% if icon %}
                                <i class="{{ icon }}"></i>
                            {% endif %}
                            {{ link.text }}
                            {% if strongText %}
                                <br><strong>{{ strongText }}</strong>
                            {% endif %}
                        </a>
                    </div>
                {% endfor %}
                <div class="{{ app.request.get('_route') starts with 'default_index' ? 'active' : '' }}">
                    <a class="text-light" href="#">
                        {{ 'Connecté en tant que : ' ~ app.user.athletic.pseudo }}
                    </a>
                </div>
                <div class="">
                    <a class="text-light" href="{{ path('app_logout') }}">
                            <i class="fa fa-sign-out"></i>
                            {{ 'logout'|trans }}
                    </a>
                </div>
            {% else %}
                <div class="{{ app.request.get('_route') starts with 'default_index' ? 'active' : '' }}">
                    <a class="text-light" href="{{ path('default_index') }}">
                        <i class="fa fa-home"></i>
                        {{ 'home'|trans }}
                    </a>
                </div>
                <div class="">
                    <a class="text-light" href="{{ path('app_login') }}">
                    <i class="fa fa-sign-in"></i>
                    {{ 'login'|trans }}
                    </a>
                </div>
            {% endif %}
    </div>
</nav>
