.trainbike__navbar {
  justify-content: space-between;

  // Window width >= 768
  @include m {
    position: -webkit-sticky;
    position: sticky;
  }

  top: 0;
  z-index: 200;
  width: 100%;
  color: #fff;
  background-color: $darker;

  .navbar__logo {
    vertical-align: top;
    width: 180px;
    height: 56px;
    font-size: 16px;
    text-align: center;

    img {
      margin: auto;
      width: auto;
      height: inherit;
      padding: 2px;
    }
  }

  .navbar__content{
    display: flex;
    flex-wrap: nowrap!important;
    font-size: 1rem;
    top: 0;

    // Window width > 0px < 768px
    @include null {
      flex-direction: column;
      >div {
        width: 100%;
        text-align: center;
        padding: 5px;
        border-top: 1px solid #2a2a2a;
      }
    }
    // Window width >= 768
    @include m {
      flex-direction: row;
      >div {
        margin:auto;
        border-top: none;
        text-align: inherit;
      }
    }

  }
}