$icon-menu__txt-color: $lightest-color !default;
$icon-menu__interaction-bg-color: $active-bg-color !default;
$icon-menu__interaction-txt-color: $active-txt-color !default;

.icon-menu {
  margin-bottom: 0;
  padding-left: 0;
  font-size: 0;
  list-style: none;

  .icon-menu__item {
    display: inline-block;
    font-size: 1rem;

    &:hover,
    &:focus,
    &.selected {
      background-color: $icon-menu__interaction-bg-color;

      .icon-menu__link {
        color: $icon-menu__interaction-txt-color;
      }
    }
  }

  .icon-menu__link {
    display: inline-block;
    color: $icon-menu__txt-color;

    &.icon-menu__link--togglable::after {
      content: "\f0dd";
      display: block !important;
      position: absolute;
      bottom: 5px;
      left: 50%;
      line-height: 1;
      color: $icon-menu__txt-color;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: 400;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translateX(-50%);
    }

    .icon-menu__icon {
      display: inline-block;
      padding: 16px;
      font-size: 16px;
    }
  }
}