$main__bg-color: $lightest-color !default;

$main__padding-horizontal: 24px !default;
$main__padding-side: 24px !default;

/*** VARS D'AUTRES COMPOSANTS ***/
$main__header__height: 60px !default;

.main {
  min-height: calc(100vh - #{$main__header__height});
  background-color: $main__bg-color;
  padding: $main__padding-horizontal $main__padding-side;

  &.main--shadow {
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.16);
  }
}