html {
  height: 100%;
}
body {
  background-image: url('images/backgrounds/bikeground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}

.form-img{
  .img-container{
    background-image: url('images/backgrounds/bike.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
  }
}