{% set title = title %}
{% set can_collapse = can_collapse|default(false) %}
{% set description = description %}
{% set form = form %}
{% set collapse_id = random(0,50) %}
{% set color = color|default('primary') %}
<div class="col-12 p-3">
    <div class="card text-white bg-{{ color }}">
        <div class="card-header" role="button" href="#collapse_{{ collapse_id }}" data-toggle="{{ can_collapse ? 'collapse' : '' }}" aria-controls="collapse_{{ collapse_id }}">
            {{ title|trans }} <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </div>
        <div class="{{ can_collapse ? 'collapse' : '' }}" id="collapse_{{ collapse_id }}">
            <div class="card-body">
                <p class="card-text">{{ description|trans }}</p>
                {{ form_start(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
