{% extends 'shared/layout/layout.html.twig' %}

{% block title %}Add New Athletic !{% endblock %}

{% block content %}
    {% include '@DoudouBase/component/card/form.html.twig' with {
        'title' : 'athletic.new',
        'description' : 'athletic.new.description',
        'form' : form,
        'color' : 'primary'
    } %}
{% endblock %}
